table,  td {
    border: 1px solid black;
    border-collapse: collapse;
}

td{
	height: 15px;
	width: 15px;	
}

table tr td.alive
{
 
 	background-color: #000000
}

table tr td.dead
{
 
 	background-color: #FFFFFF
}